BODY {
  margin:0px;
  background-color: #eee;
}

.e404 {
  font-size: 300px;
}


.md-color-picker-container .md-color-picker-tabs md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  min-height: 250px;
}

.b-red {
  border:1px solid red;
}


md-content {
  background-color: #eee !important;
  background-image: url('/images/whatapp.png');
}

md-card {
  background-color: #fff;
}
md-card h2:first-of-type {
  margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
  border-radius: 99%;
}

h2 {
  font-weight: 400;
}

.md-toolbar-tools-bottom {
  font-size: small;
}
.md-toolbar-tools-bottom :last-child {
  opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

md-sidenav {
  fill: #737373;
}
md-sidenav ng-md-icon {
  position: relative;
  top: 5px;
}


 .hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
  }

.user-avatar {
  border-radius: 99%;
}

md-color-picker .md-color-picker-input-container .md-color-picker-preview,
[md-color-picker] .md-color-picker-input-container .md-color-picker-preview {
  margin:20px 0px !important;
}

.md-icon-button {
  width: 30px !important;
  height: 30px !important;
  bottom: 50px !important;
}

.md-color-picker-tabs {
  //display: none;
}

.code_source {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  font-size:10px;
  overflow: hidden;
}

.plan {
  line-height: 200%;
}
.plan P {
  font-size: 14px;
}

#alert {
  width:100%;
  text-align: center;
  min-height: 0px;
  padding:10px;
  cursor: pointer;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: #FFF !important;
    background-color: #eee !important;
}
