<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />	

	<title>Login</title>
	
		
		
	<meta property="og:url" content="login" /> 
	<meta property="og:image" content="/tilda/images/4cf7db9e-b6d1-49fe-9f49-25fa5427e803__photo-1432821596592-e2c18b78144f" />	
	<meta property="og:title" content="Login" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="website" />	
	<meta property="fb:app_id" content="257953674358265" />
	<meta name="format-detection" content="telephone=no" />	
	
		
		
	<link rel="canonical" href="login">
	<link rel="shortcut icon" href="http://tilda.ws/img/tildafavicon.ico" />
	
	<link rel="stylesheet" href="/tilda/css/tilda-grid-2.0.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="http://tilda.ws/project29441/tilda-blocks-2.2.css?t=1455715423" type="text/css" media="screen" />
	

	
	<script src="/tilda/js/jquery-1.10.2.min.js"></script>
	<script src="/tilda/js/bootstrap.min.js"></script>
	<script src="/tilda/js/jquery.videoBG.js"></script>
	<script src="/tilda/js/jquery.parallax-1.1.3.js"></script>	
	<script src="/tilda/js/tilda-scripts-2.3.js?3"></script>
	<script src="http://tilda.ws/project29441/tilda-blocks-2.0.js?t=1455715423"></script>	
	
		

	<script src="http://tilda.ws/js//tilda/js/tilda-forms-1.0.js"></script>		

			    
</head>

<body style="margin:0;">

	
<!--allrecords-->
<div id="allrecords" data-hook="blocks-collection-content-node" data-tilda-page="101204" >

<!--header-->
<div id="header" data-hook="blocks-collection-content-node" data-tilda-page="99056" >
<div id="rec3918379" class="r" style=" " data-animationappear="off" data-record-type="257"  >




<!-- T228 -->
<div id="nav3918379marker"></div>
<div id="nav3918379" class="t228 positionfixed" style="background-color: rgba(0,0,0,0.60); height:60px; " data-bgcolor-hex="#000000" data-bgcolor-rgba="rgba(0,0,0,0.60)" data-navmarker="nav3918379marker" data-appearoffset="" data-bgopacity="0.60"  >
    <div class="maincontainer c12collumns" style="height:60px;">
          <div class="padding40px"></div>
          
          <div class="leftside">
                        <div class="leftcontainer">    
                <a href="/#/"   style="color:#fcf9f9;"><h3 field="title" style="color:#fcf9f9;"><strong>FT3</strong></h3></a>            </div>
                      </div>
        
          <div class="centerside ">
                        <div class="centercontainer">
            <ul>
                        <li><a href="/#/features"   style="color:#fcf9f9;font-weight:400;text-transform:uppercase;">Features</a></li>
                        <li><a href="/#/plans"   style="color:#fcf9f9;font-weight:400;text-transform:uppercase;">Plans</a></li>
                    
                        </ul>
            </div>
                      </div>
          
          <div class="rightside">
                          <div class="rightcontainer">
                                                            
                                    <div class="right_buttons">
                        <div class="right_buttons_wrap">
                          <div class="right_buttons_but"><a href="/#/sign" class="tilda-btn" style="color:#00fc7a; border:3px solid #59cf92;  border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px;"><table style="width:100%; height:100%;"><tr><td>SIGN UP FOR FREE</td></tr></table></a></div>                              
                        </div>
                    </div>
                                                    <div class="right_langs">
                        <div class="right_buttons_wrap">
                        <div class="right_langs_lang"><a style="color:#fcf9f9;font-weight:400;text-transform:uppercase;" href="/#/auth">Login</a></div>                                                </div>
                    </div>
                        
             </div>
                       </div>
          
          <div class="padding40px"></div>    
  </div>
</div>

<script type="text/javascript">

    var current_path = window.location.pathname.split('/').pop();
    if(current_path=="page99056.html"){
        $("#t228linktopage99056").css("opacity",".7");
    }

</script>
    
<script type="text/javascript">
  
  function t228_setwidth(){
      var window_width=$(window).width();
      if(window_width>980){
          $(".t228").each(function() {
             var el=$(this);
             var left_exist=el.find('.leftcontainer').length;
             var left_w=el.find('.leftcontainer').outerWidth(true);
             var max_w=left_w;
             var right_exist=el.find('.rightcontainer').length;
             var right_w=el.find('.rightcontainer').outerWidth(true);
             if(left_w<right_w)max_w=right_w;
             max_w=Math.ceil(max_w);
             var center_w=0;
             el.find('.centercontainer').find('li').each(function() {
               center_w+=$(this).outerWidth(true);
             });
             //console.log(max_w);
             //console.log(center_w);
             var padd_w=40;
             var maincontainer_width=el.find(".maincontainer").outerWidth(true);
             if(maincontainer_width-max_w*2-padd_w*2>center_w+20){
                 if(left_exist>0 && right_exist>0){
                     el.find(".leftside").css("min-width",max_w+"px");
                     el.find(".rightside").css("min-width",max_w+"px");
                 }
             }else{
                 el.find(".leftside").css("min-width","");
                 el.find(".rightside").css("min-width","");               
             }
          });
      }
  }
  $(window).resize(function() {
      t228_setwidth();
  });
  $(window).load(function() {
      t228_setwidth();
  });
  $(document).ready(function() {
      t228_setwidth();
  });        
  t228_setwidth();
  
</script>   
 

<script type="text/javascript">
  
  function t228_setbg(){
      var window_width=$(window).width();
      if(window_width>980){
          $(".t228").each(function() {
             var el=$(this);
             if(el.attr('data-bgcolor-setbyscript')=="yes"){
                 var bgcolor=el.attr("data-bgcolor-rgba");
                 el.css("background-color",bgcolor);             
             }
          });
      }else{
          $(".t228").each(function() {
             var el=$(this);
             var bgcolor=el.attr("data-bgcolor-hex");
             el.css("background-color",bgcolor);
             el.attr("data-bgcolor-setbyscript","yes");
          });
      }
  }
  $(window).resize(function() {
      t228_setbg();
  });
  $(document).ready(function() {
      t228_setbg();
  });        
  t228_setbg();
  
</script>   



</div>
 

<div id="rec3918447" class="r" style=" "  data-record-type="231"  >

  
  <script type="text/javascript"> 
	 $('.t199_header').toggleClass('t199_dark');
  </script>
  

</div>
 

</div>
<!--/header-->

<div id="rec3918291" class="r" style=" " data-animationappear="off" data-record-type="307"  >
<!-- t278 -->
<!-- cover -->
	
	

<div class="cover" id="recorddiv3918291" bgimgfield="img" style="height:100vh; background-image:-webkit-linear-gradient(top, #ccc, #777); background-image:-moz-linear-gradient(top, #ccc, #777); background-image:-o-linear-gradient(top, #ccc, #777); background-image:-ms-linear-gradient(top, #ccc, #777); background-image:linear-gradient(top, #ccc, #777); ">
	<div class="cover_carrier" id="coverCarry3918291" data-content-cover-id="3918291"  data-content-cover-bg="/tilda/images/4cf7db9e-b6d1-49fe-9f49-25fa5427e803__photo-1432821596592-e2c18b78144f" data-content-cover-height="100vh" data-content-cover-parallax=""      style="background-image:url('/tilda/images/4cf7db9e-b6d1-49fe-9f49-25fa5427e803__photo-1432821596592-e2c18b78144f');height:100vh;background-attachment:scroll;"></div>
      
    <div class="filteropacity" style="height:100vh;background-color:#29221c;filter: alpha(opacity:70); KHTMLOpacity: 0.70; MozOpacity: 0.70; opacity: 0.70;"></div>
  <div class="t278">
  <div class="container">
    <div class="lr_width_col_8 t278-mainblock">
      <div class="centeredVerticallyBlock" style="height:100vh;"> 
        <div class="wrapper" data-hook-content="covercontent">
          <div class="t278-title title-sm" field="title">Login to the Teleportator settings area</div>          <div class="t278-descr descr" field="descr">Meet the group, explore the school and get a free consultation</div>          <form id="form3918291" name='form3918291' role="form" action='' method='POST' data-formactiontype="0"  data-inputbox=".blockinput"   class="js-form-proccess">            
                                                  
          
                <div class="t278-input lr_width_col_6 t278-input__mainblock">
          
                  <div class="t278-allert__wrapper">
                    <div class="t278-allert js-errorbox-all blockinput__errorbox" style="display:none;">
                        <div class="blockinput__errors-text descr-xs">
                            <p class="blockinput__errors-item js-rule-error js-rule-error-all"></p>
                            <p class="blockinput__errors-item js-rule-error js-rule-error-req">Required field</p>
                            <p class="blockinput__errors-item js-rule-error js-rule-error-email">Please enter your e-mail address</p>
                            <p class="blockinput__errors-item js-rule-error js-rule-error-name">Name Wrong. Correct please</p>
                            <p class="blockinput__errors-item js-rule-error js-rule-error-phone">Please enter your Phone</p>
                            <p class="blockinput__errors-item js-rule-error js-rule-error-string">Please enter letter, number or punctuation symbols.</p>
                        </div>
                    </div>
                    <div class="t278-success js-successbox blockinput__success text" style="display:none;">
                                            	<div class="t278-success__icon">
                          <svg width="50px" height="50px" viewBox="0 0 50 50">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g fill="#FFFFFF">
                                <path d="M25.0982353,49.2829412 C11.5294118,49.2829412 0.490588235,38.2435294 0.490588235,24.6752941 C0.490588235,11.1064706 11.53,0.0670588235 25.0982353,0.0670588235 C38.6664706,0.0670588235 49.7058824,11.1064706 49.7058824,24.6752941 C49.7058824,38.2441176 38.6664706,49.2829412 25.0982353,49.2829412 L25.0982353,49.2829412 Z M25.0982353,1.83176471 C12.5023529,1.83176471 2.25529412,12.0794118 2.25529412,24.6752941 C2.25529412,37.2705882 12.5023529,47.5182353 25.0982353,47.5182353 C37.6941176,47.5182353 47.9411765,37.2705882 47.9411765,24.6752941 C47.9411765,12.0794118 37.6941176,1.83176471 25.0982353,1.83176471 L25.0982353,1.83176471 Z"></path>
                                <path d="M22.8435294,30.5305882 L18.3958824,26.0829412 C18.0511765,25.7382353 18.0511765,25.18 18.3958824,24.8352941 C18.7405882,24.4905882 19.2988235,24.4905882 19.6435294,24.8352941 L22.8429412,28.0347059 L31.7282353,19.1488235 C32.0729412,18.8041176 32.6311765,18.8041176 32.9758824,19.1488235 C33.3205882,19.4935294 33.3205882,20.0517647 32.9758824,20.3964706 L22.8435294,30.5305882 L22.8435294,30.5305882 Z"></path>
                              </g>
                            </g>
                          </svg>
                        </div>
                        <div class="t278-success__message descr-md">Your data has been submitted. Thank you!</div>
                                          </div>
                  </div>
                  
                  <div class="t278-wrapper">
                                        <div class="blockinput">
                        <input type="text" name="email" class="tilda-input js-tilda-rule" value="" placeholder="E-mail" data-tilda-req="1" data-tilda-rule="email" style="color:#000000;  background-color:#ffffff; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;">
                    </div>
                                                            <div class="blockinput">
                        <input type="text" name="password" class="tilda-input js-tilda-rule" value="" placeholder="Password" data-tilda-req="1" data-tilda-rule="none" style="color:#000000;  background-color:#ffffff; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;">
                    </div>
                                                                                
                    <div class="blockbutton">
                        <button type="submit" class="tilda-submit" style="color:#ffffff; border:0px solid ; background-color:#ff7300; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;">LOGIN</button>                    </div>
                  </div>

              </div>  
        </form>		<div class="t278-text text-xs" field="text">You agree with our Terms and Conditions</div>                      
        </div>
      </div>
    </div>
  </div>
  </div>

<style>
#rec3918291 input::-webkit-input-placeholder {color:#000000; opacity: 0.5;}
#rec3918291 input::-moz-placeholder          {color:#000000; opacity: 0.5;}
#rec3918291 input:-moz-placeholder           {color:#000000; opacity: 0.5;}
#rec3918291 input:-ms-input-placeholder      {color:#000000; opacity: 0.5;}          
#rec3918291 textarea::-webkit-input-placeholder {color:#000000; opacity: 0.5;}
#rec3918291 textarea::-moz-placeholder          {color:#000000; opacity: 0.5;}
#rec3918291 textarea:-moz-placeholder           {color:#000000; opacity: 0.5;}
#rec3918291 textarea:-ms-input-placeholder      {color:#000000; opacity: 0.5;}                    
</style>

  
</div>
            
 

</div>
 

<!--footer-->
<div id="footer" data-hook="blocks-collection-content-node" data-tilda-page="99070" >
<div id="rec4027780" class="r" style="padding-top:90px;background-color:#000000; " data-animationappear="off" data-record-type="190"  >
<!-- T173 -->
<div class="t173">
  <div class="container">
    <div class="lr_col_12">
	 <ul>
	 	 <li>
	  <a href="privacy" >Privacy policy</a>
	 </li>
	 	 <li>
	  <a href="terms" >Terms of Service</a>
	 </li>
	 	 </ul>
    </div>
    <div class="lr_col_12">
	 <div class="copyright" field="text" ><span></span><span style="color: rgb(255, 255, 255);">© 2008–2015 ООО Krible Ltd. Email: welcome@krible.com</span><br /></div>
    </div>
  </div>
</div>

</div>
 

</div>
<!--/footer-->

</div>
<!--/allrecords-->
<script type="text/javascript">    
	
	
    function blocksdisplay(){
		var window_width = $(window).width();    
        var recs = $('div.r[data-screen-max], div.r[data-screen-min]');
        var max,min;
        var disp;
        recs.each(function(i) {
            disp = $(this).css("display");                     
            max = $(this).attr("data-screen-max");
            if( max === undefined)max=10000;
            max = parseInt(max);
            
            min = $(this).attr("data-screen-min");
            if( min === undefined)min=0;
            min = parseInt(min);
            console.log(min+"-"+max);
            if(min<=max){
	            if (window_width <= max && window_width > min) {
	            	if(disp!="block")$(this).css("display","block");	            	
	            }else{
	            	if(disp!="none")$(this).css("display","none");	            
	            }
	        }
        });
    }
    $(document).ready(function(){
    	blocksdisplay();
    });
	$(window).resize(function() {
    	blocksdisplay();
	});    
    //blocksdisplay();
    
</script>
	

	
		<!-- Tilda copyright. Don't remove this line --><div class="tildacopy " id="tildacopy" data-tilda-sign="29441#101204"><a href="http://tilda.cc/?upm=29441"><div class="tcont"><div class="powered">Made on </div><div class="timg"><img src="/tilda/images/http____tilda.ws__img__tildacopy.png"></div><div class="tp">Tilda</div></div></a></div>
		
	
	
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');	
	  
	  ga('create', 'UA-56589716-2', 'auto', {'name': 'tilda'});
	  ga('tilda.send', 'pageview');
	  if (! window.mainTracker) { window.mainTracker = 'tilda'; }
	</script>
	
	
</body>
</html>