<div layout="column" class="relative" layout-fill role="main">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>Dashboard</h3>
      <span flex style="text-align:right; font-size:14px;">{{currentUser.email}}</span>
      <md-button ng-click="logout();">logout</md-button>
    </div>
    <md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
      <md-tab id="tab1" aria-controls="tab1-content">
        Edit
      </md-tab>
      <md-tab id="tab2" aria-controls="tab2-content">
        Logs
      </md-tab>
    </md-tabs>
  </md-toolbar>



  <md-content flex md-scroll-y>
    <ui-view layout="column" layout-fill layout-padding>
      <div class="inset" hide-sm></div>
      <ng-switch on="data.selectedIndex" class="tabpanel-container">
        <div ng-repeat="site in sites" role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">
          <md-card flex="50" flex-md="75" flex-xs="100" flex-sm="90">
            <md-card-content >
              <div layout="row" layout-align="right">
                <div flex="80">
                  <h2 style="padding:10px 0px;">Edit widget settings for {{site.domain}}</h2>
                </div>
                <div flex="20">
                  <md-switch ng-model="site.status">
                    {{ site.status ? 'enable':'disable' }}
                  </md-switch>
                </div>
              </div>
                  <md-input-container class="md-block">
                    <label>Website domain name</label>
                    <input ng-model="site.domain">
                    <!-- <div class="hint">Domain name where teleportator be work</div> -->
                  </md-input-container>

                  <md-input-container>
                    <label class="md-caption">Get this code to HTML-template of your site</label><br><br>
                    <p><pre class="md-caption">{{code[site.id]}}</pre></p>
                    <md-button class="md-raised md-primary" ngclipboard data-clipboard-text="{{code[site.id]}}">Copy to clipboard</md-button>
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label>Button text</label>
                    <input md-maxlength="15" ng-model="config[site.id].buttonText">
                  </md-input-container>

                  <div flex label="Button color" md-color-picker random="true" open-on-input="true" ng-model="config[site.id].buttonColor"></div>

                  <div flex label="Text color" md-color-picker random="true" open-on-input="true" ng-model="config[site.id].textColor"></div>

                  <md-input-container class="md-block">
                    <label>Widget width</label>
                    <input ng-model="config[site.id].width">
                  </md-input-container>

                  <p>Position:</p><br>
                  <md-radio-group ng-model="config[site.id].position">
                    <md-radio-button value="left">Left</md-radio-button>
                    <md-radio-button value="right"> Right </md-radio-button>
                  </md-radio-group>

                  <md-input-container class="md-block">
                    <label>About text</label>
                    <textarea ng-model="config[site.id].about" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                  </md-input-container>

                  <md-button class="md-raised md-primary" ng-click="saveConfig(site.id)">Save</md-button>
            </md-card-content>
          </md-card>
        </div>

        <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">
          <md-card flex-gt-sm="90" flex-gt-md="80">
            <md-card-content>
              <h2>View last 50 teleportation</h2>

              <md-table-container>
                <table md-table>
                  <thead md-head>
                    <tr md-row>
                      <th md-column>Created</th>
                      <th md-column>Code</th>
                      <th md-column>Url</th>
                      <th md-column>Type</th>
                      <th md-column>UserId</th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row ng-repeat="log in logs | orderBy: '-created' | limitTo: 50">
                      <td md-cell>{{ ts(log.created) }}</td>
                      <td md-cell>{{log.telecode}}</td>
                      <td md-cell>{{log.url}}</td>
                      <td md-cell>{{log.type}}</td>
                      <td md-cell>{{log.nid}}</td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>

            </md-card-content>
          </md-card>
        </div>

      </ng-switch>

    </ui-view>
  </md-content>
