<div layout="column" class="relative" layout-fill role="main">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>Dashboard</h3>
      <span flex style="text-align:right; font-size:14px;">{{currentUser.email}}</span>
      <md-button ng-click="logout();">logout</md-button>
    </div>
    <md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
      <md-tab id="tab1" aria-controls="tab1-content">
        Edit
      </md-tab>
      <md-tab id="tab2" aria-controls="tab2-content">
        Logs
      </md-tab>
    </md-tabs>
  </md-toolbar>



  <md-content flex md-scroll-y ng-repeat="site in sites">
    <ui-view layout="column" layout-fill layout-padding>
      <div class="inset" hide-sm></div>
      <ng-switch on="data.selectedIndex" class="tabpanel-container">
        <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">
          <md-card flex="50" flex-md="75" flex-xs="100" flex-sm="90">
            <md-card-content>
              <div layout="row" layout-align="right">
                <div flex="80">
                  <h2 style="padding:10px 0px;">Edit widget settings for {{site.domain}}</h2>
                </div>
                <div flex="20">
                  <md-switch ng-model="site.status">
                    {{ site.status ? 'enable':'disable' }}
                  </md-switch>
                </div>
              </div>
                  <md-input-container class="md-block">
                    <label>Website domain name</label>
                    <input ng-model="site.domain">
                    <!-- <div class="hint">Domain name where teleportator be work</div> -->
                  </md-input-container>

                  <md-input-container><code>&lt;script>alert('Hello!');</script></code>
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label>Button text</label>
                    <input md-maxlength="15" ng-model="config[$index].buttonText">
                  </md-input-container>

                  <div flex label="Button color" md-color-picker random="true" open-on-input="true" ng-model="config[$index].buttonColor"></div>

                  <div flex label="Text color" md-color-picker random="true" open-on-input="true" ng-model="config[$index].textColor"></div>

                  <md-input-container class="md-block">
                    <label>Widget width</label>
                    <input ng-model="config[$index].width">
                  </md-input-container>

                  <p>Position:</p><br>
                  <md-radio-group ng-model="config[$index].position">
                    <md-radio-button value="left">Left</md-radio-button>
                    <md-radio-button value="right"> Right </md-radio-button>
                  </md-radio-group>

                  <md-input-container class="md-block">
                    <label>About text</label>
                    <textarea ng-model="config[$index].about" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                  </md-input-container>

                  <md-button class="md-raised md-primary" ng-click="saveConfig($index)">Save</md-button>
            </md-card-content>
          </md-card>
        </div>
        <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">
          <md-card flex-gt-sm="90" flex-gt-md="80">
            <md-card-content>
              <h2>View last 50 teleportation</h2>
                {{log}}
            </md-card-content>
          </md-card>
        </div>

      </ng-switch>

    </ui-view>
  </md-content>
