<!--allrecords-->
<div id="allrecords" data-hook="blocks-collection-content-node" data-tilda-page="99056" >
<div id="rec3870543" class="r" style="padding-bottom:0px; " data-animationappear="off" data-record-type="230"  >


<style>
.t199_holder {
  margin: auto;
  padding: 0 40px;
  max-width: 1200px; }
  @media only screen and (max-width: 478px) {
    .t199_holder {
      padding: 0 20px;
      min-width: 320px; } }
  @media only screen and (max-width: sm) {
    .t199_holder {
      padding: 0 20px;
      min-width: 320px; }
}

.t199_header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 990;
  height: 98px;
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  text-align: right;
  line-height: 98px;
  -webkit-transition: 0.4s ease;
          transition: 0.4s ease;
  -webkit-transition-property: background-color, box-shadow;
          transition-property: background-color, box-shadow; }
  @media only screen and (max-width: 1024px) {
    .t199_header {
      padding: 0;
      height: 50px;
      text-align: center;
      line-height: 50px;
      box-shadow: inset #eaeaea 0 -1px 1px; } }
  @media only screen and (max-width: tab) {
    .t199_header {
      padding: 0;
      height: 50px;
      text-align: center;
      line-height: 50px;
      box-shadow: inset #eaeaea 0 -1px 1px; } }
  .t199_header.t199_dark {
    color: #fff; }
    @media only screen and (max-width: 1024px) {
      .t199_header.t199_dark {
        box-shadow: none; } }
    @media only screen and (max-width: tab) {
      .t199_header.t199_dark {
        box-shadow: none; } }
  .t199_header.t199_is__active {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.13) 0 4px 16px;
    color: #000; }
  @media only screen and (max-width: 1024px) {
    .t199_header .t199_holder {
      padding: 0; } }
  @media only screen and (max-width: tab) {
    .t199_header .t199_holder {
      padding: 0; }
}

.t199_logo {
  float: left;
  color: inherit !important;}
  @media only screen and (max-width: 1024px) {
    .t199_logo {
      float: none;
      margin: 0;
      color: inherit; } }
  @media only screen and (max-width: tab) {
    .t199_logo {
      float: none;
      margin: 0;
      color: inherit; }
}

.t199_logo-image {
  display: inline-block;
  vertical-align: middle;
  margin-top: -6px; }
  @media only screen and (max-width: 1024px) {
    .t199_logo-image {
      display: none; } }
  @media only screen and (max-width: tab) {
    .t199_logo-image {
      display: none; } }

.t199_logo-image-one {
  display: inline-block;
  vertical-align: middle;
  margin-top: -6px; }
  .t199_dark .t199_logo-image-one {
    display: none; }
  .t199_is__active .t199_logo-image-one {
    display: inline-block; }
  @media only screen and (max-width: 1024px) {
    .t199_logo-image-one {
      display: none !important; } }
  @media only screen and (max-width: tab) {
    .t199_logo-image-one {
      display: none !important; } }

.t199_logo-image-two {
  display: none;
  vertical-align: middle;
  margin-top: -6px; }
  .t199_dark .t199_logo-image-two {
    display: inline-block; }
  .t199_is__active .t199_logo-image-two {
    display: none; }
  @media only screen and (max-width: 1024px) {
    .t199_logo-image-two {
      display: none !important; } }
  @media only screen and (max-width: tab) {
    .t199_logo-image-two {
      display: none !important; } }


.t199_logo-text {
      display: inline-block;
      vertical-align: middle;
      letter-spacing: 0.03em;
      font-weight: 100;
      font-size: 24px;
      font-family: Arial;
      color:inherit !important;}
  @media only screen and (max-width: 1024px) {
    .t199_logo-text {
      display: none; } }
  @media only screen and (max-width: tab) {
    .t199_logo-text {
      display: none; } }

.t199_logo-text-mobile {
      display: none;
      vertical-align: middle;
      letter-spacing: 0.03em;
      font-weight: 100;
      font-size: 16px;
      font-family: Arial; }
  @media only screen and (max-width: 1024px) {
    .t199_logo-text-mobile {
      display: inline-block; } }
  @media only screen and (max-width: tab) {
    .t199_logo-text-mobile {
      display: inline-block; } }

.t199_menu {
  display: inline-block;
  letter-spacing: .12em;
  font-weight: 500;
  position: relative; }

.t199_menu-item {
  text-transform: uppercase;
  font-size: 13px;
  font-family: Arial;
  text-decoration: none;
  margin-left: 20px;
  color: inherit !important; }
  .t199_menu-item:hover {
    color: #db7857; }
  .t199_menu-item.t199_is__active {
    color: #db7857; }

.t199_lang {
  display: inline-block;
  margin-left: 40px;
  letter-spacing: .12em;
  font-weight: 600;
}

.t199_lang-item {
  text-transform: uppercase;
  font-size: 13px;
  font-family: Arial;
  text-decoration: none;
  margin-left: 11px;
  color: inherit !important;
  }

  .t199_lang-item.t199_is__active {
    border-bottom: 1px solid;
    opacity: 0.7;
}

.t199_mmenu-toggler {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  -webkit-transition: background-color 0.4s ease;
          transition: background-color 0.4s ease;
  background: #000; }
  .t199_mmenu-toggler:focus {
    outline: 0; }
  .t199_dark .t199_mmenu-toggler {
    background: none; }
  .t199_header.t199_is__active .t199_mmenu-toggler, .t199_is__menu .t199_mmenu-toggler {
    background: #000; }


.t199_mmenu-toggler-in {
  position: relative;
  display: inline-block;
  margin: 6px 0;
  width: 20px;
  height: 3px;
  background: #fff;
  vertical-align: middle;
  -webkit-transition: -webkit-transform 0.4s ease;
          transition: transform 0.4s ease; }

  .t199_mmenu-toggler-in:before, .t199_mmenu-toggler-in:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    content: '';
    -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease; }

  .t199_mmenu-toggler-in:before {
    top: -6px; }

  .t199_mmenu-toggler-in:after {
    bottom: -6px; }

  .is__menu .t199_mmenu-toggler-in {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }

    .is__menu .t199_mmenu-toggler-in:after, .is__menu .t199_mmenu-toggler-in:before {
      top: 0;
      bottom: 0;
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg); }

@media only screen and (max-width: 1024px) {
  .t199_mmenu {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    padding: 10vh 0;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%); }

    .t199_mmenu .t199_menu {
      display: block;
      font-size: 20px; }

    .t199_mmenu .t199_menu-item {
      display: block;
      margin: 0;
      font-size: 4vh;
      line-height: 12vh;
      -webkit-transition: none;
              transition: none; } }
    @media only screen and (max-width: 1024px) and (max-height: 380px) {
      .t199_mmenu .t199_menu-item {
        margin: 15px 0;
        line-height: 20px; } }
@media only screen and (max-width: 1024px) {
      .t199_mmenu .t199_menu-item:hover {
        color: #fff;
        text-decoration: underline; }
    .t199_mmenu .t199_lang {
      margin: 0;
      font-size: 3vh;
      line-height: 15vh; }
    .t199_mmenu .t199_lang-item {
      margin: 0 6px; }
      .t199_mmenu .t199_lang-item.is__active {
        color: #fff; }
    .t199_is__menu .t199_mmenu {
      opacity: 1;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); } }
@media only screen and (max-width: tab) {
  .t199_mmenu {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    padding: 10vh 0;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%); }
    .t199_mmenu .t199_menu {
      display: block;
      font-size: 20px; }
    .t199_mmenu .t199_menu-item {
      display: block;
      margin: 0;
      font-size: 4vh;
      line-height: 12vh;
      -webkit-transition: none;
              transition: none; } }
    @media only screen and (max-width: tab) and (max-height: 380px) {
      .t199_mmenu .t199_menu-item {
        margin: 15px 0;
        line-height: 20px; } }
@media only screen and (max-width: tab) {
      .t199_mmenu .t199_menu-item:hover {
        color: #fff;
        text-decoration: underline; }
    .t199_mmenu .t199_lang {
      margin: 0;
      font-size: 3vh;
      line-height: 15vh; }
    .t199_mmenu .t199_lang-item {
      margin: 0 6px; }
      .t199_mmenu .t199_lang-item.is__active {
        color: #fff; }
    .t199_is__menu .t199_mmenu {
      opacity: 1;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); } }

.t199_mmenu-item,
.t199_mmenu-toggler {
  display: none; }
  @media only screen and (max-width: 1024px) {
    .t199_mmenu-item,
    .t199_mmenu-toggler {
      display: block; } }
  @media only screen and (max-width: tab) {
    .t199_mmenu-item,
    .t199_mmenu-toggler {
      display: block; } }
</style>


    <div class="t199_header t199_js__header" style="">
      <div class="t199_holder">
        <a class="t199_logo" href="" style="">
	      <h3 class="t199_logo-text" field="title" style="">Ft3</h3>	      <h3 class="t199_logo-text-mobile" field="title" style="">Ft3</h3>
        </a>
        <a class="t199_mmenu-toggler t199_js__menu-toggler" href="#">
          <span class="t199_mmenu-toggler-in"></span>
        </a>
        <div class="t199_mmenu t199_js__menu">
          <nav class="t199_menu">
						<a class="t199_menu-item" href="#/site" >Sites</a>
						<a class="t199_menu-item" href="#/site/324/configs" >Config</a>
						<a class="t199_menu-item" href="#/" >Contacts</a>

          	          </nav>
                    <div class="t199_lang">
            <a class="t199_lang-item" style="opacity: 0.5; font-weight:300;" href="">En</a>            <a class="t199_lang-item"  style="" href="http://tilda.cc">Ru</a>          </div>
                  </div>
      </div>
    </div>




<script type="text/javascript">
$(function() {
  $('.t199_js__menu').each(function() {
    var $toggler = $('.t199_js__menu-toggler'),
      $menu = $(this),
      $body = $('body'),

      CLASS_MENU = 't199_is__menu';


	$menu.find('.t199_menu-item').each(function() {
		if($(this).attr('href').indexOf('#') > -1 ){
			$(this).on('click', function(e) {
				$body.removeClass(CLASS_MENU);
		    });
		}
	});

    $toggler.on('click', function(e) {
      e.stopPropagation();
      e.preventDefault();
      $body.toggleClass(CLASS_MENU);
    });

    $(document).on('click', function() {
      $body.removeClass(CLASS_MENU);
    });

    $menu.on('click', function(e) {
      e.stopPropagation();
    });
  })
});
$(function() {
  var $header = $('.t199_js__header'),

    isScrolling = false,

    CLASS_ACTIVE = 't199_is__active';

  function updateHeader() {
    isScrolling = true;

    if ($(window).scrollTop() > 0) $header.addClass(CLASS_ACTIVE);
    else $header.removeClass(CLASS_ACTIVE);
  }

  setInterval(function() {
    if(isScrolling) {
      isScrolling = false;
    }
  }, 100);

  $(window).on('scroll', updateHeader)
  updateHeader();
});
</script>


<script type="text/javascript">

    var current_path = window.location.pathname.split('/').pop();
    if(current_path=="page99056.html"){
	    $("#t199linktopage99056").css("opacity",".5");
    }

</script>


</div>


</div>
<!--/allrecords-->
