
<!--allrecords-->
<div id="allrecords" data-hook="blocks-collection-content-node" data-tilda-page="99056" >
<div id="rec4133558" class="r" style=" " data-animationappear="off" data-record-type="230"  >
<div class="t199__header t199__js__header" style="">
  <div class="t199__holder">
    <a class="t199__logo" href="/"  style="">
      <img src="/tilda/images/9a728623-4755-49dc-9248-07e1bbf11e33__logo_black.png" class="t199__logo-image-one" imgfield="img"><img src="/tilda/images/642bceef-e02e-464c-9212-0e652bd68b5d__logo.png" class="t199__logo-image-two" imgfield="img2">      <div class="t199__logo-text-mobile t-title" field="title" style=""></div>      
    </a>
    <a class="t199__mmenu-toggler t199__js__menu-toggler" href="#">
      <span class="t199__mmenu-toggler-in"></span>
    </a>
    <div class="t199__mmenu t199__js__menu">
      <nav class="t199__menu">

                <a class="t199__menu-item t-title"    href="features"  id="t199linktopage100195">Features</a>
                <a class="t199__menu-item t-title"    href="plans"  id="t199linktopage101191">Plans</a>
              </nav>
            <div class="t199__lang">
        <a class="t199__lang-item" style="" href="/auth">SIGNUP</a>        <a class="t199__lang-item"  style="" href="/auth">LOGIN</a>      </div>
          </div>
  </div>
</div>




<script type="text/javascript">
$(function() {
  $('.t199__js__menu').each(function() {
    var $toggler = $('.t199__js__menu-toggler'),
      $menu = $(this),
      $body = $('body'),

      CLASS_MENU = 't199__is__menu';


  $menu.find('.t199__menu-item').each(function() {
    if($(this).attr('href').indexOf('#') > -1 ){
      $(this).on('click', function(e) {
        $body.removeClass(CLASS_MENU);
        });
    }
  });

    $toggler.on('click', function(e) {
      e.stopPropagation();
      e.preventDefault();
      $body.toggleClass(CLASS_MENU);
    });

    $(document).on('click', function() {
      $body.removeClass(CLASS_MENU);
    });

    $menu.on('click', function(e) {
      e.stopPropagation();
    });
  })
});
$(function() {
  var $header = $('.t199__js__header'),

    isScrolling = false,

    CLASS_ACTIVE = 't199__is__active';

  function updateHeader() {
    isScrolling = true;

    if ($(window).scrollTop() > 0) $header.addClass(CLASS_ACTIVE);
    else $header.removeClass(CLASS_ACTIVE);
  }

  setInterval(function() {
    if(isScrolling) {
      isScrolling = false;
    }
  }, 100);

  $(window).on('scroll', updateHeader)
  updateHeader();
});
</script>


<script type="text/javascript">

    var current_path = window.location.pathname.split('/').pop();
    if(current_path=="page99056.html"){
      $("#t199linktopage99056").css("opacity",".5");
    }

</script>


</div>


<div id="rec3918447" class="r" style=" "  data-record-type="231"  >


  <script type="text/javascript">
	 $('.t199__header').toggleClass('t199__dark');
  </script>


</div>

</div>
<!--/allrecords-->
