@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic);

nav ul a,
nav .brand-logo {
  color: #444;
}

.yad {
  border-radius: 0.5rem;
  border-top: 7px solid #FFD54F;
}

.yad_sign {
  margin-top: 1.3rem; margin-left: -20px !important; height:3rem; font-weight:100;
}

.fs-title {
  font-size: 1.6rem;
}

.p {
  padding: 10px;
  box-sizing: border-box;
}

.p\+ {
  padding: 20px;
  box-sizing: border-box;
}

.p\+\+ {
  padding: 30px;
  box-sizing: border-box;
}

.pt {
  padding-top: 10px;
  box-sizing: border-box;
}

.pt\+ {
  padding-top: 20px;
  box-sizing: border-box;
}

.pt\+\+ {
  padding-top: 30px;
  box-sizing: border-box;
}


.mt {
  margin-top: 20px;
}

.mt\+ {
  margin-top: 40px;
}

.mt\+\+ {
  margin-top: 60px;
}

.mt\+\+\+ {
  margin-top: 80px;
}

.wallpaper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.hero {
  background-color: rgba(0,0,0,0.3);
  //padding: 40px;
}


.username, .titul {
  color: #fff;
  text-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}

.username {
    font-size: 220%;
    font-weight: 300;
}

.titul {
  font-size: 150%;
  font-weight: 300;
}

.avatar {
    height: 120px;
    width: 120px;
    border: 5px solid rgba(255,255,255,0.8);
}


.tipme {
  width: 200px;
}

@media only screen and (max-width : 992px) {
  .username_block, .yad {
    text-align: center !important;
  }
}




#print {
    width: 190mm;
    height: 270mm;
    font-family: 'Roboto Condensed', Helvetica, Verdana, sans-serif;
    position: absolute;
    top: 6mm;
    left:6mm;
}

.visa {
  width: 90mm;
  height: 50mm;
  float: left;
  //margin: 2mm;
  border: 0.5mm dashed #ccc;
  padding: 10mm 5mm;
  box-sizing: border-box;
}

.visa .qr {
  float: left;
  margin-right: 5mm;
}

.visa .name {
  font-size: 6mm;
  margin: 2mm 0;
}

.visa .url {
  font-size: 3.5mm;
}
